<html>
  <head>
    <body>
      <p style="colour:red">
        My Beautiful Girl
        {{Name}}
      </p>
      <img
        src="eleen.png"
        width="500"
        height="600"
        style="border-radius:100px"
      />
    </body>
  </head>

</html>