<html>
  <head>
    <body>
      <p>Welcom to My Server ! ` HBSSS `</p>
      <div>

<form>
<label="Enter a Country">Enter The Country</label>
<input type="text" placeholder="ex : Yemen" id="blkkey">

<button>Search</button>
<p id ='Error' style="color:red"></p>
<p id ='Success' style="color:green"></p>
<p id ='result' style="color:blue"></p>
</form>

      </div>
    

    </body>
  </head>
      <script src="/scriptapp.js"></script>

  {{>footer}} 
</html>